[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[*.js]
indent_style = space

[*.css]
indent_style = space
indent_size = 4

[{composer.json,composer.lock}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
max_line_length = off

[CHANGE_LOG.txt]
indent_style = space
