.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.packetery-carriers-right-column {
    padding-top: 7px;
    font-size: 13px;
}

.packetery-panel label {
    text-align: right;
    padding-top: 7px;
}

.packetery .alert {
    margin-top: 1em;
    padding-left: 3.5rem;
}

.packetery-button-container {
    display: flex;
}

.packetery-button-container a {
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: 6px;
    width: auto !important;
    display: inline-block !important;
}

/* main menu item */
.icon-Packetery:before {
    content: "\f0d1";
}

.packeteryordergrid .fixed-width-md,
.packeteryordergrid .fixed-width-lg,
.packeteryordergrid .fixed-width-sm {
    width: unset !important;
}

.packeteryordergrid .bootstrap .table > thead > tr > th {
    padding: 8px 4px;
}

.packeteryordergrid .column-date_add,
.packeteryordergrid .column-name_branch {
    word-break: normal;
}

.packeteryordergrid .column-customer {
    white-space: nowrap;
}

.packeteryordergrid thead tr th .title_box {
    white-space: normal !important;
    text-align: left !important;
}

.packeteryordergrid .column-weight input {
    padding: 8px;
}

.packeteryloggrid-success {
    color: #00a32a;
    font-weight: 700;
}

.packeteryloggrid-error {
    color: #ba1b02;
    font-weight: 700;
}

/* Packet order status */
.packetery-order-status {
    display: inline-block;
    line-height: 2.3em;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 8px;
    background-color: #c6e1c6;
    color: #5b841b;
}

#table-orders .packetery-order-status {
    top: 4px;
    position: relative;
    padding: 2px 5px 0 5px;
    line-height: 1.5em;
}

.packetery-order-status.received-data {
    background-color: #f8dda7;
    color: #94660c;
}

.packetery-order-status.unknown {
    background-color: #eba3a3;
    color: #761919;
}

.packetery-order-status.delivered {
    background-color: #c8d7e1;
    color: #2e4453;
}

.packetery-order-status.cancelled, .packetery-order-status.returned, .packetery-order-status.rejected-by-recipient {
    background-color: #e5e5e5;
    color: #777;
}
