<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>packetery</name>
    <displayName><![CDATA[Packetery]]></displayName>
    <version><![CDATA[2.0.2]]></version>
    <description><![CDATA[Packetery pick-up points, orders export, and print shipping labels]]></description>
    <author><![CDATA[ZLab Solutions]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>