name: run notifications

on:
  push:
    branches: [ pre-release ]

jobs:
  sendNotifications:
    name: "Send MS-teams notification"
    runs-on: ubuntu-24.04
    steps:
      - name: "Init env variables"
        run: |
          echo "WEBHOOK_URL=${{ secrets.DEPLOYMENT_WEBHOOK_URL_STAGE }}" >> $GITHUB_ENV
          echo "ACTION_NAME='Pushed to pre-relase'" >> $GITHUB_ENV
          echo "PUSHER_NAME=${{ github.event.pusher.name }}" >> $GITHUB_ENV
          echo "COMMIT_MESSAGE=${{ github.event.head_commit.message }}" >> $GITHUB_ENV
          echo "GITHUB_SHA=${{ github.sha }}" >> $GITHUB_ENV
      - name: "Init dependency"
        uses: actions/checkout@v4
      - name: "Send notifications"
        shell: bash
        run: |
          ${GITHUB_WORKSPACE}/.github/send-notifications.sh
